
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>-->
</head>
<body>
<div id="helper">
  <ul>
    <li>
      <button onclick="loadSampleEsModule()">Load Sample ES Module</button>
    </li>
    <li>
      <button onclick="loadVueSFC()">Load Sample Vue Single File Component</button>
    </li>
    <li>
      <button onclick="loadTodoMVC()">Load Todo MVC</button>
    </li>
  </ul>
</div>
<div id="app"></div>
<script>
  function dynamicLoad(moduleName, modulePath, isVueModule) {
    loadVue(modulePath).then(function (m) {
      if (isVueModule) {
        new Vue({
          render: h => h(m)
        }).$mount('#app')
        document.getElementById('helper').remove()
      } else {
        console.log('Module is loaded.')
        console.log(moduleName, m)
        window[moduleName] = m
        document.getElementById('helper').innerHTML = 'Please open the debugger.'
        debugger
      }
    })
  }
  const loadSampleEsModule = () => dynamicLoad('sampleEsModule', './test-assets/sample-es-module.js', false)
  const loadVueSFC = () => dynamicLoad('vueSingleFileComponent', './test-assets/single-file-app.vue', true)
  const loadTodoMVC = () => dynamicLoad('vueTodoMvc', './test-assets/todo-mvc/App.vue', true)
</script>
<script type="boom!">
import Vue from 'commonjs!https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js';
import App from './test-assets/todo-mvc/App.vue';
new Vue({
  render: h => h(App)
}).$mount('#app')
</script>
</body>
</html>
